allow netd self:capability sys_module;
allow netd dhcp_data_file:dir setattr;
allow netd wifi_data_file:sock_file { create setattr unlink };
allow netd gpsd:fd use;
allow netd gpsd:udp_socket rw_socket_perms;
allow netd gpsd:tcp_socket rw_socket_perms;
allow netd init:tcp_socket { read write };

# LABELME
allow netd device:file {read write open};
allow netd device:file open;
allow netd init:tcp_socket getopt;

